name: CI

on:
    push:
        branches:
            - "main"
            - "develop"
    pull_request:
        types: [ready_for_review, synchronize, opened]

jobs:
    test:
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.head_ref }}-test
            cancel-in-progress: true
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 9.5.0
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
            - name: Build
              run: |
                  pnpm install -g ultra-runner
                  pnpm install
                  pnpm run build
            - name: Test ARK
              run: cd "$GITHUB_WORKSPACE/packages/ark/" && pnpm install --no-experimental-require-module --no-experimental-detect-module && pnpm run build --no-experimental-require-module --no-experimental-detect-module && pnpm run test:coverage --no-experimental-require-module --no-experimental-detect-module
            - name: Test CRYPTOGRAPHY
              run: cd "$GITHUB_WORKSPACE/packages/cryptography/" && pnpm run test:coverage
            - name: Test FETCH
              run: cd "$GITHUB_WORKSPACE/packages/fetch/" && pnpm run test:coverage
            - name: Test HELPERS
              run: cd "$GITHUB_WORKSPACE/packages/helpers/" && pnpm run test:coverage
            - name: Test INTL
              run: cd "$GITHUB_WORKSPACE/packages/intl/" && pnpm run test:coverage
            - name: Test MARKETS
              run: cd "$GITHUB_WORKSPACE/packages/markets/" && pnpm run test:coverage
            - name: Test PROFILES
              run: |
                  cd "$GITHUB_WORKSPACE/packages/profiles/" && pnpm run test:coverage
                  cd "$GITHUB_WORKSPACE/packages/profiles/" && pnpm run test:integration
            - name: Test SDK
              run: cd "$GITHUB_WORKSPACE/packages/sdk/" && pnpm run test:coverage
            - name: Test TEST
              run: cd "$GITHUB_WORKSPACE/packages/test/" && pnpm run test:coverage
            - name: Test MAINSAIL
              run: cd "$GITHUB_WORKSPACE/packages/mainsail/" && pnpm run test:coverage
            - name: Lint
              run: |
                  cd $GITHUB_WORKSPACE
                  pnpm install
                  sh scripts/update-manifests.sh
                  pnpm run sort-package-json
                  pnpm run prettier
            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "style: resolve style guide violations"
