name: Validators

on:
    push:
        paths:
            - "*/ark/source/crypto/transactions/types/schemas.ts"

jobs:
    compile:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 9.0.6
            - uses: actions/setup-node@v4
              with:
                  node-version: "22"
                  cache: "pnpm"
            - name: Build
              run: |
                  pnpm install -g ultra-runner
                  pnpm install
                  pnpm run build
            - name: Generate standalone validators for ARK
              run: |
                  cd $GITHUB_WORKSPACE/packages/ark
                  pnpm install
                  pnpm run build:validators
            - uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: "refactor: generate new standalone validators"
